.inicio {
    text-align: center;
    background-color: #16203c;
    padding: 50px;

}

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.resaltado {
    color: var(--primary-color);
}

.descripcion {
    color: #8e9aaf;
    margin-bottom: 20px;
}