* {
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  font-family: 'Roboto', sans-serif;
  --primary-color: #e94560;
  --background-color: #1a1a2e;
}